$font-family: Georgia,Cambria,"Times New Roman",Times,serif;
$font-family-headers: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
.post .single {
  max-width: available;
}

@media all and (max-width: 600px) {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  {
    font-size: 18px !important;
  }
  table {
    width: 55vw !important;
    font-size: 3vw;
  }
  ul li {
    padding-left: 0px;
  }
  pre {
    font-size: large;
  }
}
@media all and (min-width: 1200px) {
  article
  {
    font-size: larger !important;
  }
}
li p {
  margin-bottom: 0.5em;
}

body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 21px!important;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  //width: 90vh;
  //padding-left: 5vw!important;
}

h1, div.title h2 a {
  margin-top: 0;
  font-family: $font-family-headers;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0,0,0,.8);
  word-wrap: break-word;
}
h1 {
  border-bottom: 0!important;
}

h2, h3, h4, h5, h6 {
  margin-top: 39px;
  font-family: $font-family-headers;
  font-weight: 300;
  font-style: normal;
  margin-left: -1.75px;
  line-height: 1.22;
  letter-spacing: -.022em;
  color: rgba(0,0,0,.44);
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}

#sidebar {
  min-width: 14em !important;
  width: 14em !important;
}

li:nth-of-type(3n) {
  margin-bottom: 1.5em;
}


blockquote {
  margin-top: 55px;
  font-family: $font-family;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.48;
  letter-spacing: -.014em;
  color: rgba(0,0,0,.6);
  border: none;
  padding: 0;
  padding-left: 50px;
  text-align: left;
}
blockquote:before {
  color: rgba(0,0,0,.6)!important;
}

.byline {
  font-style: italic;
  font-weight: 700;
  font-family: $font-family;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.8);
}

.blurb {
  font-family: $font-family;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

hr {
  margin-top: 52px;
  margin-bottom: 42px;
  border: 0;
  text-align: center;
}
hr:before {
  font-family: $font-family;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  letter-spacing: .6em;
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0,0,0,.6);
  position: relative;
  top: -30px;
}
a:hover {
  outline: 0;
  color: inherit;
}
p {
  font-size: inherit;
}
.post > header .title {
  padding: 1em;
  font-style: normal!important;
  font-family: $font-family-headers;
  line-height: 1.4!important;
  color: rgba(0,0,0,.6)!important;
  letter-spacing: 0!important;
  text-align: center!important;
  margin-top: 10px!important;
}

.title a:hover {
  outline: 0;
  color: inherit;
}

tfoot .tableblock {
  font-weight: bold;
}

/* Responsiveness fixes */
img {
  max-width: 100%;
}
video {
  max-width: 85vw;
}

